body {
  margin: 0;
  padding: 0;
}

.app-container {
  height: 100vh;
  overflow: hidden;
}

.app-header {
  background-color: #00246B;
  color: #CADCFC;
}

.app-header>h1 {
  margin: 0;
}

.app-main {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}